#-----------------------------------------------------------------------------------------------------------------------
#
# Dot Files Gitignore
#
# Author:           Brandon Perez <bmperez@alumni.cmu.edu>
# Creation Date:    Thursday, April 19, 2018 at 03:49:14 PM PDT
#
# This is the Gitignore file for the repository. This defines the files that are permitted to be tracked. This is done
# in an inclusion-based manner.
#
#-----------------------------------------------------------------------------------------------------------------------

# Exclude all files, then include only the necessary ones.
*

# Allow for files nested within directories.
!*/

# Allow for the (un)license, README, and Gitignore files.
!/.gitignore
!/UNLICENSE
!/README.md

# Allow for the various configuration files.
!/bashrc
!/gdbinit
!/gitconfig
!/inputrc
!/kilerc
!/minttyrc
!/pythonstartup
!/ssh_config

# Allow for the Vimrc file and the various configuration files under the Vim directory.
!*.vim
!/vim/**/*.txt
!/vim/**/*.py
!/vim/vimrc

# Ignore the Vim-Plug file and any plugins installed with the manager.
/vim/autoload/plug.vim
/vim/installed-plugins

# Ignore the local Vimrc file. Typically this will be a symbolic think in the Vim directory.
/vim/vimrc_local.vim
